<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="{{ matomo_domain }}";
    _paq.push(['setTrackerUrl', u+'{{matomo_tracker_filename}}']);
    _paq.push(['setSiteId', '{{ matomo_site_id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='{{ matomo_script_domain }}' + '{{matomo_script_filename}}'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
